// Ignore all files that meet the following patterns:
config*.h
.pio
.vscode
.idea
test*.*


// Except for the files that meet the following patterns (f.e config_sample.h, config_physicalkey.h)
!config_*.h


README_tmp.html
